.footer {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  background: #10182F;
  border-radius: 6px;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer .footer-col {
  flex: 1;  // Ensure each column takes equal space
}

.footer .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;  // Add some margin to separate heading from list
}

.footer .footer-col .links {
  margin-top: 0;  // Ensure no extra margin
  padding-left: 0;  // Remove any padding to align with h4
}

.footer .footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer .footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer .footer-col .links li a:hover {
  color: #fff;
}

.footer .footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer .footer-col form {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.footer .footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer .footer-col input::placeholder {
  color: #ccc;
}

.footer .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer .footer-col form button:hover {
  background: #cecccc;
}

.footer .footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer .footer-col .icons i {
  color: #afb6c7;
}

.footer .footer-col .icons i:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer .footer-col form {
    display: block;
  }

  .footer .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer .footer-col form button {
    margin: 10px 0 0 0;
  }
}
