* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background: #191919;
  border-radius: 6px;
  padding: 60px 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .footer-col {
    flex: 1;
    min-width: 200px;

    @media (max-width: 768px) {
      width: 100%;
    }
    p{
      span{
        font-weight: 700;
      }
    }

    h4 {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .links {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: #bfbfbf;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    p {
      margin: 10px 0;
      color: #bfbfbf;
      max-width: 300px;
    }

    form {
      display: flex;
      gap: 5px;
      margin-top: 10px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      input {
        height: 10px;
        border-radius: 6px;
        background: none;
        width: 100%;
        outline: none;
        border: 1px solid #7489c6;
        caret-color: #fff;
        color: #fff;
        padding-left: 10px;

        &::placeholder {
          color: #ccc;
        }
      }

      button {
        background: #fff;
        outline: none;
        border: none;
        padding: 10px 15px;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 500;
        transition: 0.2s ease;

        @media (max-width: 768px) {
          width: 100%;
          margin-top: 10px;
        }

        &:hover {
          background: #cecccc;
        }
      }
    }

    .icons {
      display: flex;
      margin-top: 30px;
      gap: 30px;
      cursor: pointer;

      i {
        color: #afb6c7;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .footer-container {
    display: flex;
    gap: 15px;

    @media (max-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  .first {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo-img {
      text-align: start;

      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }

  .footer-head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 3px;

    @media (max-width: 768px) {
      text-align: center;

      a {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    @media (max-width: 576px) {
      flex-direction: column;
      text-align: center;

      .payment {
        justify-content: center;
        margin-top: 10px;
      }
    }
  }

  .payment {
    display: flex;
    gap: 10px;

    @media (max-width: 768px) {
      justify-content: center;
      width: 100%;
      margin-top: 10px;
    }
  }

  .text-body {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }
}
